<h1>Recent Users</h1>
<ul>
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user_path(user) %> | 
			<%= link_to 'edit', edit_user_path(user) %> |
			<%= link_to 'delete', user_path(user), method: :delete, data: {confirm: "Really delete this user?"} %>
		</li>
	<% end %>
</ul> 	
