<div id="left-content">
  <div id="logo-header">
    <h1 id="logo-link"><a href="/">logo will go here</a></h1>
  </div>
  <div id="post-feed">
    <h2>Your Feed</h2>
    <%= render partial: "./posts/index", locals: {posts: @posts} %>
  </div>
</div>

<div id="clear"></div>

<div id="right-content">
  <div id="logout">
    <%= link_to(("logout"), "/sessions/destroy", {method: :delete, class: "logout-button"}) %>
  </div>
  <div id="sidebar">
    <nav>
      <ul class="sidebar-list">
        <li><a href="<%= "/users/#{ @current_user.id }" %>">your posts</a></li>
        <li><a href="/posts/new">new post</a></li>
      </ul>
    </nav>
  </div>
</div>
